.navbar {
    background-color: white;
    color: black;
    border-radius: 0;
    border: #222222;
    opacity: 0.9;
}

.toggleStyle {
    height: 30px;
    width: auto;
    padding: 2px 4px;
    margin-top: 5px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .navbar {
        background-color: white;
        color: black;
        border-radius: 0;
        border: #222222;
        opacity: 0.9;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        background-color: white;
        color: black;
        border-radius: 0;
        border: #222222;
        opacity: 1;
    }
}

.a {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
    padding: 7px 14px;
}

.logo {
    padding: 7px 14px;
    float: left;
    max-width: 120px;
    margin-top: 4px;
}