.height {
    margin-top: 40px;
}

.default2 {
    margin-right: 10%;
}

@media only screen and (min-width: 587px) {
    .profile {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 586px) {
    .profile {
        position: fixed;
        top: 57.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

@media only screen and (min-width: 950px) {
    .profileStyle {
        text-align: left;
        background-color: rgba(255,255,255, 0.9);
        width: 40%;
        padding-bottom: 20px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 695px) and (max-width: 949px) {
    .profileStyle {
        text-align: left;
        background-color: rgba(255,255,255, 0.9);
        width: 60%;
        padding-bottom: 20px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 694px) {
    .profileStyle {
        text-align: left;
        background-color: rgba(255,255,255, 0.9);
        width: 90%;
        padding-bottom: 20px;
        border-radius: 10px;
    }
}

.trash {
    border: none;
    background: none;
    color: red;
}

.add {
    border: none;
    background: none;
    color: #46a14a;
}

.stylish {
    width: 170px;
}

.header23Style {
    margin-left: 25%;
    text-decoration: underline;
}

.header4Style {
    margin-left: 30%;
}

.similarToh4 {
    margin-left: 30%;
}