.align-left{
    text-align: left;
}

.activeticket {
    background-color: #5ed964;
}

.expandbutton {
    display: inline;
}

@media only screen and (min-width: 1200px) {
    .normal {
        width: 100%;
    }
    .rightFloat {
        float: right;
    }
    .leftFloat {
        display: none;
    }
    .fontSizeLargerWhenLargeScreen {
        font-size: medium;
    }
}

@media only screen and (min-width: 630px) and (max-width: 1199px) {
    .smaller2 {
        width: 100%;
    }
    .rightFloat {
        float: right;
    }
    .leftFloat {
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 629px) {
    .smaller2 {
        width: 100%;
    }
    .hideWhenSmallest {
        display: none;
    }
    .leftFloat {
        float: left;
    }
    .rightFloat {
        display: none;
    }
}

/*.ticketpanel{*/
    /*background: url("../images/ticketpanelpng.png") no-repeat;*/
    /*background-size: cover;*/
/*}*/

/*.ticketpanelActive{*/
    /*background: url("../images/ticketpanelActive.png") no-repeat;*/
    /*background-size: cover;*/
/*}*/
