.align-left{
    text-align: left;
}

.activeticket {
    background-color: #5ed964;
}

.expandbutton {
    display: inline;
}

@media only screen and (min-width: 1200px) {
    .normal {
        width: 100%;
    }
    .rightFloat {
        float: right;
    }
    .leftFloat {
        display: none;
    }
}

@media only screen and (min-width: 630px) and (max-width: 1199px) {
    .smaller2 {
        width: 100%;
    }
    .rightFloat {
        float: right;
    }
    .leftFloat {
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 629px) {
    .smaller2 {
        width: 100%;
    }
    .hideWhenSmallest {
        display: none;
    }
    .leftFloat {
        float: left;
    }
    .rightFloat {
        display: none;
    }
}

.buttons {
    background: #46a14a;
    border: none;
}

.delete:hover {
    background: red;
}

.activate:hover {
    background: #54c45a;
    color: white;
}