.align-left{
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .centered {
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scroller {
        overflow: auto;
        max-height: 60%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .centered {
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scroller {
        overflow: auto;
        max-height: 60%;
    }
}
/*iPhone Plus*/
@media only screen and (width: 414px) and (height: 736px) {
    .centered {
        position: fixed;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scroller {
        overflow: auto;
        max-height: 45%;
    }
}
/*iPhone*/
@media only screen and (width: 375px) and (height: 667px) {
    .centered {
        position: fixed;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scroller {
        overflow: auto;
        max-height: 45%;
    }
}
/*iPhone X*/
@media only screen and (width: 375px) and (height: 812px) {
    .centered {
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .scroller {
        overflow: auto;
        max-height: 45%;
    }
}

.style-2::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #5bc0de;
}

.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.transparent {
    background-color: rgba(255,255,255,0.3);
}



