.loginForm {
    text-align: center;
}

.loginButton {
    color: orangered;
    background: #5ed964;
}

.show-grid {
    font-family: Calibri;
}

.facebook {
    background: ('../images/facebook-login.png');
}